* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (min-width: 0) and (max-width: 768px) {
  .header {
    background: #3c3a39;
    display: flex;
    justify-content: space-between;
    height: 92px;
    align-items: center;
    color: #fff;
    padding: 30px;
    width: auto;
  }

  .for-desk {
    display: none;
  }

  .name {
    width: 77px;
    height: 24px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
  }

  a {
    text-decoration: none;
  }

  ul,
  li,
  a {
    left: 0.04%;
    right: 0.03%;
    top: 0.02%;
    bottom: 0%;
    color: #dbd8d7;
  }

  header,
  .header a {
    text-decoration: none;
  }

  .headline-sect {
    display: none;
  }
}

@media (min-width: 0) and (max-width: 768px) {
  .headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 120px 24px;
    gap: 12px;
    height: auto;
    background: #1c1a19;
    background-image: url(images/Illustration.png);
    background-repeat: no-repeat;
    background-position: 100% 120%;
    color: #dbd8d7;
  }

  .intro {
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.37px;
    color: #ff6b00;
    width: auto;
    order: 0;
  }

  .fa.fa-linkedin {
    font-family: "Font Awesome 6 Brands", sans-serif;
    font-weight: 400;
    color: white;
  }

  .developer {
    width: auto;
    height: auto;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #fff5e1;
    order: 0;
  }

  ul {
    display: flex;
    gap: 30px;
    list-style: none;
    order: 1;
  }

  .abilities {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    order: 0;
  }
}

/* new branch css starts here */

.recent {
  display: grid;
  grid-template: columns;
  align-items: center;
}

.recent-item {
  justify-content: center;
  display: grid;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  margin-top: 120px;
  margin-bottom: 24px;
}

.line {
  border: 1px black solid;
  margin: 10px 25px 80px;
}

.yellowboard {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.topic {
  text-align: left;
  margin-left: 26px;
  margin-right: 26px;
}

.stories {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  width: 327px;
  height: 26px;
  margin-bottom: 15px;
}

.stories-text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  margin-top: 30px;
  margin-bottom: 0;
}

.skills {
  display: flex;
}

.js {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  border: 1px black solid;
  padding: 5px 10px;
}

.Myname {
  display: grid;
}

.btnsettings {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: grid;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  background: #ff6b00;
  color: #fff;
  padding: 10px;
  width: 150px;
  justify-content: center;
  margin: 10px 0 20px 0;
  border: none;
}

.container {
  display: grid;
  justify-content: center;
  grid-template-columns: 320px;
}

.container1 {
  background-image: url(images/placeholder.png);
  background-size: cover;
  flex-direction: column;
  display: grid;
  padding-left: 13px;
}

.cont-header {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 44px;
  margin-top: 156px;
  color: #fff;
}

.lingos {
  border: none;
  padding: 5px 10px;
  font-size: 19px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  background-color: #ffffff4d;
  color: #fff;
}

.lingos,
#btn2:hover {
  background-color: #3c3a39;
  transition-delay: 0.1s;
  font-size: larger;
}

.cont-text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  margin-top: 14px;
  margin-bottom: 15px;
}

.lang {
  margin-bottom: 20px;
  display: flex;
  float: left;
  gap: 12px;
}

.oversight {
  background: #ff6b00;
  padding: 10px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  display: grid;
  justify-content: center;
  width: 100%;
  position: relative;
  border: none;
}

#first:disabled {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #5b5957;
  width: 100;
}

#first:active {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #f4f1f0;
}

#first:hover {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #f55800;
}

.oversight:disabled {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #5b5957;
  width: 100;
}

.oversight:hover {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #f55800;
}

.oversight:active {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #f4f1f0;
}

#btn:hover {
  transition-duration: 0.8s;
  width: 100px;
}

@media screen and (max-width: 768px) {
  .lang-cont {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .lang-heading {
    display: flex;
    align-items: baseline;
    font-family: "InaiMathi", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .langlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .jss {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
  }
}

@media screen and (max-width: 768px) {
  .About-me {
    background-color: #1c1a19;
    margin-top: 100px;
    padding-top: 120px;
  }

  .picfix {
    background-image: url(images/Frame.png);
    background-repeat: no-repeat;
    background-position: 95% 14%;
  }

  .abt {
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
  }

  .bou-me {
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0.37px;
    color: #ff6b00;
  }

  .abt-text {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #f4f5f7;
    margin-bottom: 20px;
    margin-top: 30px;
  }

  .resume {
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    border: none;
    margin-top: 14px;
  }

  .resume:enabled {
    background: #ff6b00;
    color: #fff;
  }

  .resume:disabled {
    background-color: #dbd8d7;
    color: #3c3a39;
  }

  .resume:hover {
    background-color: bisque;
    color: #ff6b00;
  }

  .underline {
    border: 1px solid gray;
    margin-top: 170px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

/* new branch css stats here */
form {
  margin-top: 120px;
  margin-bottom: 130px;
}

.interest {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-style: normal;
  width: 327px;
  height: 216px;
  text-align: center;
  color: #172b4d;
  display: contents;
}

.interest,
h5 {
  padding-right: 7px;
  padding-left: 7px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  align-items: center;
  justify-content: center;
}

input[type="text"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000;
  margin-top: 120px;
  width: 300px;
}

input[type="email"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000;
  margin-top: 40px;
  width: 300px;
  margin-bottom: 40px;
}

textarea {
  width: 327px;
  height: 114px;
  background: #fbf8f7;
  font-size: 15px;
  margin-bottom: 24px;
  border: none;
  padding: 10px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #3c3a39;
  min-width: 295px;
  min-height: 114px;
}

.all-cont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.all {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 295px;
}

input .inputs {
  flex-direction: column;
  align-items: center;
}

.btz {
  width: 107px;
  height: 24px;
  color: white;
  font-size: 17px;
  line-height: 24px;
  border: none;
  font-family: "Inter", sans-serif;
}

.btz:enabled {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 130px;
  height: 40px;
  left: 100px;
  top: calc(50% - 48px / 2 + 46.5px);
  background: #f55800;
}

.btz:disabled {
  width: 69px;
  height: 24px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #5b5957;
}

.btz:hover {
  color: #f55800;
  background: #fff5e1;
  border: 1px solid #f55800;
}

.btz:active {
  width: 69px;
  height: 24px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #f4f1f0;
}

.border {
  border: 1px solid #dfe1e6;
  margin-bottom: 8px;
}

#foots {
  color: #505f79;
}

.footer-icons {
  display: flex;
  gap: 28px;
  justify-content: center;
  left: 0.08%;
  right: 0.01%;
  top: 0%;
  bottom: 0%;
  margin-bottom: 23px;
}

.feet {
  margin-bottom: 20px;
}

.ikes {
  width: 20px;
  height: 20px;
  color: #505f79;
}

/* mobile query */

/* Desktop Verion styling starts below: */
@media screen and (min-width: 769px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  a {
    list-style: none;
    text-decoration: none;
  }

  .headline-sect a {
    list-style: none;
    text-decoration: none;
    color: #fff;
  }

  .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 23px;
  }

  header .name {
    padding-left: 26px;
    width: 92px;
    height: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
    text-decoration: none;
    color: #fff;
  }

  .hamburger {
    display: none;
  }

  ul.skills {
    gap: 6px;
    margin-bottom: 24px;
  }

  .header {
    display: flex;
    color: #fff;
    background: #3e3c3c;
    padding: 1%;
    justify-content: space-between;
    align-items: baseline;
  }

  header.name {
    padding-left: 26px;
    width: 92px;
    height: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  ul.headline-sect {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 32px;
    padding-right: 32px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    align-items: center;
    text-align: center;
    color: #fff;
  }

  .headline {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 2%;
    height: 870px;
    left: 0;
    top: 0;
    background: #1c1a19;
    background-image: url(images/Illustration-header.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 50%;
  }

  .divide {
    color: black;
    border: 1px solid #212121;
    gap: 40px;
    width: 798px;
    height: 2px;
  }

  .container1 {
    width: 369px;
    height: 445px;
  }

  .container1:hover {
    width: 400px;
    height: 400px;
    transition: width 2s, height 4s;
  }

  .for-desk {
    margin-left: 10%;
    padding: 0;
  }

  #desktop-layout {
    display: flex;
    justify-content: center;
    margin-top: 140px;
    margin-bottom: 40px;
  }

  #yellow {
    width: 600px;
    height: 448px;
  }

  #yellow:hover {
    background-color: yellow;
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }

  .stories {
    width: 448px;
    height: 48px;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #091e42;
    margin-bottom: 24px;
  }

  .stories-text {
    width: 448px;
    height: 140px;
  }

  .MyWorks {
    display: grid;
    grid-template-columns: 380px 380px 380px;
    grid-template-rows: auto;
    justify-content: center;
    margin-bottom: 30px;
  }

  .oversight {
    width: 115%;
  }

  #recent {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    gap: 24px;
  }

  #first {
    order: 1;
  }

  #mines {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    order: 0;
    color: #cfcfcf;
  }

  #write {
    gap: 50px;
    margin-top: 8%;
    display: flex;
    flex-direction: column;
  }

  h1 {
    width: 450px;
    height: 160px;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
  }

  .developer {
    width: 566px;
    height: 24px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    display: flex;
    align-items: center;
    color: #fff;
  }

  .abilities {
    width: 566px;
    height: 123px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
  }

  .recent {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
  }

  .line {
    display: none;
  }

  .abt {
    margin-left: 130px;
    margin-top: 130px;
    border-bottom: 1px solid #fff;
    width: 140%;
    padding-bottom: 150px;
  }

  .abt-text {
    width: 566px;
    height: 148px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
  }

  h3.bou-me {
    width: 566px;
    height: 78px;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
    margin-bottom: 24px;
  }

  .lang-cont {
    display: flex;
    align-items: center;
    margin: 146px 40% 0 40%;
    gap: 80px;
  }

  .resume {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
    flex-direction: row;
    padding: 12px;
    gap: 10px;
    width: 180px;
    height: 48px;
    background: #f55800;
  }

  .About-me {
    width: auto;
    background: #262626;
    display: flex;
    height: 1195px;
    background-image: url(images/desktopframe.png);
    background-repeat: no-repeat;
    background-position: 100% 1%;
  }

  /* done */
  .underline {
    display: none;
  }

  .langauge-container {
    display: flex;
    align-items: center;
    padding-left: 20%;
  }

  #lang-cont {
    display: grid;
  }

  .langlist {
    width: 114px;
    height: 24px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
  }

  .interest h5 {
    width: 455px;
    height: 256px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #262626;
  }

  li {
    list-style: none;
  }

  .iconic {
    width: 228px;
    height: 24px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #fff;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .all {
    width: 600px;
  }

  input[type="text"] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000;
    margin-top: 120px;
    width: 500px;
    justify-content: flex-start;
  }

  input[type="email"] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000;
    margin-top: 70px;
    width: 500px;
    justify-content: flex-start;
  }

  textarea {
    width: 500px;
    height: 90px;
    margin-right: 20%;
  }

  button.btz {
    margin-right: 80%;
  }

  .lang-heading {
    display: flex;
    align-items: baseline;
    font-family: "InaiMathi", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
/*Accesibility*/
.name:hover {
  color: brown;
  font-size: 70px;
}

.fa.fa-linkedin {
  font-family: "Font Awesome 6 Brands", sans-serif;
  font-weight: 400;
  color: white;
}

.headline-sect:hover {
  font-size: 30px;
}
.headline-sect li {
  color: brown;
}
