* {
  margin: 0;
  padding: 0;
}

.header {
  background: #3c3a39;
  display: flex;
  justify-content: space-between;
  height: 92px;
  align-items: center;
  color: #fff;
  padding: 30px;
}

.name {
  width: 77px;
  height: 24px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

a {
  text-decoration: none;
}

ul,
li,
a {
  left: 0.04%;
  right: 0.03%;
  top: 0.02%;
  bottom: 0%;
  color: #dbd8d7;
}

header,
.header a {
  text-decoration: none;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 12px;
  height: auto;
  background: #1c1a19;
  background-image: url(images/Illustration.png);
  background-repeat: no-repeat;
  background-position: 100% 120%;
  color: #dbd8d7;
}

.intro {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  width: auto;
}

.developer {
  width: auto;
  height: auto;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
}

ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.abilities {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

/* new branch css starts here */
.recent {
  display: grid;
  grid-template: columns;
  align-items: center;
}

.recent-item {
  justify-content: center;
  display: grid;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  margin-top: 120px;
}

.line {
  border: 1px black solid;
  margin: 10px 25px 80px;
}

.yellowboard {
  display: flex;
  justify-content: center;
}

.topic {
  text-align: left;
  margin-left: 26px;
  margin-right: 26px;
}

.stories {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

.stories-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.skills {
  display: flex;
}

.js {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  border: 1px black solid;
  padding: 5px 10px;
}

.Myname {
  display: grid;
}

.btnsettings {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: grid;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  background: #ff6b00;
  color: #fff;
  border: 2px black solid;
  padding: 10px;
  width: 150px;
  justify-content: center;
  margin: 10px 0 20px 26px;
}

.container {
  display: grid;
  justify-content: center;
  grid-template-columns: 320px;
}

.container1 {
  background-image: url(images/placeholder.png);
  background-size: cover;
  flex-direction: column;
  display: grid;
  padding-left: 13px;
}

.cont-header {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 44px;
  margin-top: 156px;
  color: #fff;
}

.lingos {
  border: none;
  padding: 5px 10px;
  font-size: 19px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  background-color: #ffffff4d;
  color: #fff;
}

.lingos,
#btn2:hover {
  background-color: #3c3a39;
  transition-delay: 0.1s;
  font-size: larger;
}

.cont-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  margin-top: 14px;
  margin-bottom: 15px;
}

.lang {
  margin-bottom: 20px;
  display: flex;
  float: left;
}

.oversight {
  background: #ff6b00;
  padding: 10px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  display: grid;
  justify-content: center;
  width: 100%;
  position: relative;
}

#first:disabled {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #5b5957;
  width: 100;
}

#first:active {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #f4f1f0;
}

#first:hover {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #f55800;
}

.oversight:disabled {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #5b5957;
  width: 100;
}

.oversight:hover {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #f55800;
}

.oversight:active {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #f4f1f0;
}

#btn:hover {
  transition-duration: 0.8s;
  width: 100px;
}

.About-me {
  background-color: #1c1a19;
  margin-top: 100px;
  padding-top: 120px;
}

.picfix {
  background-image: url(images/Frame.png);
  background-repeat: no-repeat;
  background-position: 95% 14%;
}

.abt {
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}

.bou-me {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.abt-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  margin-bottom: 20px;
  margin-top: 30px;
}

.resume {
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  border: none;
  margin-top: 14px;
}

.resume:enabled {
  background: #ff6b00;
  color: #fff;
}

.resume:disabled {
  background-color: #dbd8d7;
  color: #3c3a39;
}

.resume:hover {
  background-color: bisque;
  color: #ff6b00;
}

.underline {
  border: 1px solid gray;
  margin-top: 170px;
  margin-left: 30px;
  margin-right: 30px;
}

.lang-cont {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.lang-heading {
  display: flex;
  align-items: baseline;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.langlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jss {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

/* new branch css stats here */
form {
  margin-top: 120px;
  margin-bottom: 130px;
}

.interest {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-style: normal;
  width: 327px;
  height: 216px;
  text-align: center;
  color: #172b4d;
  display: contents;
}

.interest,
h5 {
  padding-right: 7px;
  padding-left: 7px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  align-items: center;
  justify-content: center;
}

input[type=text] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000;
  margin-top: 120px;
  width: 300px;
}

input[type=email] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000;
  margin-top: 40px;
  width: 300px;
  margin-bottom: 40px;
}

textarea {
  width: 303px;
  height: 90px;
  background: #fbf8f7;
  font-size: 15px;
  font-weight: 500;
  padding: 1%;
  margin-bottom: 24px;
}

.all {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

input .inputs {
  flex-direction: column;
  align-items: center;
}

.btz {
  width: 107px;
  height: 24px;
  color: white;
  font-size: 17px;
  line-height: 24px;
}

.btz:enabled {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 130px;
  height: 40px;
  left: 100px;
  top: calc(50% - 48px / 2 + 46.5px);
  background: #f55800;
}

.btz:disabled {
  width: 69px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #5b5957;
}

.btz:hover {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 93px;
  height: 48px;
  left: 252px;
  top: calc(50% - 48px / 2 + 46.5px);
  background: #fff5e1;
  border: 1px solid #f55800;
}

.btz:active {
  width: 69px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #f4f1f0;
}

.border {
  border: 1px solid black;
  margin-bottom: 8px;
}

#foots {
  background: #505f79;
}

.footer-icons {
  display: flex;
  gap: 28px;
  justify-content: center;
  left: 0.08%;
  right: 0.01%;
  top: 0%;
  bottom: 0%;
  color: #505f79;
  margin-bottom: 23px;
}

.feet {
  margin-bottom: 20px;
}

.ikes {
  width: 20px;
  height: 20px;
}
